// @use "./reset";

// padding  margin の基礎サイズ
$BASE_SIZE: 0.6rem;

@function getRems($coefficient:1, $base:$BASE_SIZE) {
  @return $coefficient*$base
};

@mixin mainColorSet() {
  background-color: #111;
  color: #ccc;
}

@mixin anchorColor() {
  color: #66c;
  &:hover{color: #99f;}
  &:active{color: #99f;}
}

body {
  @include mainColorSet();
  margin: getRems(2);
}

a.button {
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 27pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 13px 13px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
}